/* Global CSS */

* {
  font-size: 9pt;
  font-family: "Open Sans";
}

/* General CSS */

QWidget {
  color: #DDD;
}

QWidget:disabled {
  color: #888;
}

QMainWindow {
  background-color: #444;
}

QDialog {
  background-color: #444;
}

QToolTip {
  color: #DDD;
  border: #DDD solid 1px;
  background-color: #111;
}

QToolButton {
  width: 27px;
  height: 27px;
  background-color: #555;
  border: 1px solid #333;
  border-radius: 2px;
  font-size: 12pt;
  font-family: "Material Icons";
}

QPushButton {
  height: 27px;
  min-width: 60px;
  background-color: #555;
  border: 1px solid #333;
  border-radius: 2px;
}

QToolButton:disabled,
QPushButton:disabled {
  color: #888;
}

QToolButton:hover:!pressed,
QPushButton:hover:!pressed {
  background-color: #666;
}

QTextEdit,
QLineEdit {
  background-color: #333;
  border: 1px solid #222;
}


